// Colors
$boc-red = #b6002a
$red = #be2e3e
$gray-dark = #dadada
$gray-dark2 = #bababa
$gray-light = #f6f6f6
$blue-gray = #8fa3bb
$white = #ffffff
$black = #000000
$blue = #50bfff
$green = #13ce66

$color-warning = $red
$color-primary = $red
$color-default = $white
$color-danger = $boc-red
$color-info = $blue
$color-success = $green
$color-disabled = #eef1f6

// Font color
$font-color-default = #545454
$font-color-default-info = $gray-dark
$font-color-white = $white
$font-color-red = #e64144
$font-color-red-info = $red

// Others
$border-color = $gray-dark
$border-color-dark = #bababa
$button-hover = $boc-red

$font-size-default = 14px;

$border-radius-default = 4px;

// Transition
$border-transition-base = border-color .2s cubic-bezier(.645,.045,.355,1);

// Input
$input-height-default = 36px;
$input-bg-disabled = $color-disabled

//Checkbox
$checkbox-font-color = $font-color-default;
$checkbox-color = $red;
$checkbox-disabled = $gray-light
$checkbox-checked-disabled = $gray-dark
$checkbox-size = 18px;

//steps
$step-process-color = $gray-dark2;
$step-line-bg-color = $gray-dark2;
$step-size = 28px;
$step-finish-color = $red;
$step-description-font-size = 12px;
$step-description-line-height = 14px;
$step-success-color = $green;

//breadcrumb
$breadcrumb-separator-color = #D9BFC0;
$breadcrumb-font-color = $font-color-default;

//radio
$radio-border-color-hover = $border-color-dark;
$radio-color = $red;

//progress
$progress-font-coler = $font-color-default;
$progress-font-size = $font-size-default;
$progress-background-color = $red;
$progress-bar-outer-color = #F1E6E4
